/* BRAND COLORS */

$main-brand-color: #f5d40e;
$second-brand-color: #282828;

/* SHADOWS */

$main-shadow: rgba(0, 0, 0, 0.15);
$second-shadow: rgba(0, 0, 0, 0.2);

/* FONT COLORS */

$error: #cc0000;
$white-color: #ffffff;
$black-color: #000000;
$grey-color: #b9b9b9;
$sucess: #03BBAA;
$green:#28a745;
$blue: #17a2b8;
$dashboard-blue: #007bff; 




/* BACKGROUNDS */

$main-background: #ecf0f5;
$second-brand-color-opacity: #00000066;
$body-background: #f9f9f9;
/* FONTS FAMILY */

$main-font: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;

/* BORDER */

$border-white:#eee ;

/* HOVER */

$background-hover: #0000004d;
