@import '_variables.scss';

.main-content{
    .content-header{
        h1{
        font-family: $main-font; 
        font-size: 16px;  
        }
    }
}
.box{
    position: relative;
    border-radius: 3px;
    background: $white-color;
    border-top: 3px solid $main-brand-color;
    margin-bottom: 20px;
    width: 100%;
    box-shadow: 0 1px 1px $main-shadow;
    padding-bottom: 0px;
    padding-top: 0px;
}

.listViews{
    border-radius: 5px;
    background: $white-color;
    box-shadow: 0 11px 20px $main-shadow;
    margin-top:5%;
    height: fit-content;
}


.card{
    background: #ffffff none repeat scroll 0 0;
    padding: 20px;
    border: 0 solid #e7e7e7;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
    height:100px; 
    border: 1.5px solid rgb(236, 240, 245) !important;
    .media{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        vertical-align: middle; 
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
        .media-left{
            text-align:left; 
            font-size: 30px;
            vertical-align: middle;
            color: #007bff; 
            .fa-users{
                color: $dashboard-blue; 
            }
            .fa-clock{
                color: $green; 
            }
            .fa-eye{
                color: $error;
            }
        }
        .media-body{
            text-align:right; 
            -webkit-box-flex: 1;
            -ms-flex: 1;
            flex: 1;
            vertical-align: middle;
            font-size:30px; 
            p{
                color: #99abb4;
                line-height: 15px;
                font-size:15px; 
            }
        }
    }
}

