@import '_variables.scss';

body{
    margin: 0px;
    background-color: $main-background !important;
}

.row{
    margin-left: 230px;
}

.container-fluid{
    position: absolute;
    max-width: 100%;
    width: 100%;
    padding: 50px;
}

.main-content{
    margin-left: 230px;
    padding: 25px;
}


form{
    padding: 25px;
    .submit-form{
        margin-top: 50px;
    }
    .title-form{
        text-align: center;
        font-size: 15px;
        font-weight: 800;
    }
    .list-unstyled{
        color: $error;
    }
    #preview-en, #preview-fr{
        height: 150px;
        margin-top: 20px;
    }
}

.btn-success{
    margin-top: 10px;
    margin-bottom: 10px;
}

.table td,.table th{
    vertical-align: middle !important;
    text-align: center;
    border-right: 1px solid $white-color;

}

.fa-copy{
    color: $green;
}
.fa-trash-alt{
    color: $error;
}
.fa-edit{
    color: $blue;
}

.languageSelector{
    position: fixed;
    float: right;
    right: 0;
    margin-right: 20px;

    .languageSelector-items{
        display: inline-block;
        .language-icon{
            img{
                height: 15px;
            }
        }
    }
}

select{
    height: 40px !important;
}