@import '_variables.scss';

.main-header{
        -webkit-box-shadow: 0px 1px 1px $main-shadow;
        box-shadow: 0px 1px 1px $second-shadow;
        position: fixed;
        background-color: $white-color;
        width: 100%;
        z-index: 10;
        .logo{
            border-right: 1px solid $border-white;
            -webkit-transition: width 0.3s ease-in-out;
            transition: width 0.3s ease-in-out;
            float: left;
            text-align: center;
            width: 230px;
            img{
                max-height: 50px;
            }
    }
    .navbar{
        transition: margin-left 0.3s ease-in-out;
        margin-bottom: 0;
        margin-left: 230px;
        border: none;
        min-height: 50px;
        border-radius: 0;   
        .sidebar-toggle{
            padding: 15px 15px;
            position: absolute;
            border-right: 1px solid $border-white;
        }
    }
    svg{
        color: $second-brand-color;
        &:hover{
            color: $second-brand-color-opacity;
        }
    }

}