@import '_variables.scss';

.main-content{
    .news-thumb{
        height: 150px;
    }
    .modal-dialog{
        width: 100%;
        max-width: 100%;
        padding: 5%;
        margin-top: 0px;
        padding-top: 0px;
        .modal-body{
            p{
                text-align: center; 
                img{
                    max-height: 100%;
                    max-width: 100%;   
                }
            }

        }
    }
}

.modal-body{
    img{
        max-height: 50%;
        max-width: 50%;   
    }
}
#thumbnail{
    padding: 15px;
    padding-bottom: 45px; 
}

#thumbnail-en{
    padding: 15px;
    padding-bottom: 45px; 
}

#thumbnail-fr{
    padding: 15px;
    padding-bottom: 45px; 
}

button.btn.btn-success{
    margin-bottom: 30px;
}
button.btn.btn-info.btn-lg{
    width: 100%;
    background: $body-background;
    color: $main-brand-color;
    border: none;
    &:hover{
        color: $second-brand-color;
    }
    &:focus{
        border: none;
    }
}
