@import '_variables.scss';

.main-sidebar{
    position: fixed;
    top: 0;
    left: 0;
    margin-top: 50px;
    min-height: 100%;
    width: 230px;
    z-index: 810;
    background: $second-brand-color;
    .sidebar-menu{
        list-style: none;
        margin: 0;
        padding: 0;
        .user-panel{
            position: relative;
            width: 100%;
            margin-top: 30px;
            margin-bottom: 30px;
            .user-name{
                text-align: center;
                margin-top: 10px;
                color: $white-color;
                font-family: $main-font;
                font-size: 10px;
            }
            .image{
                width: 100%;
                text-align: center;
                img{
                    border-radius: 50px;
                    max-height: 100px;
                    max-width: 100px;
                }
            }
        }
        .header{
            padding: 15px 35px 15px 15px;
            font-size: 12px;
            color: $main-brand-color;
            background: $second-brand-color-opacity;
            font-family: $main-font; 
        }
        li{
            &:not(.nohover):hover{
                background: $second-brand-color-opacity;
                border-left: 3px solid $white-color;  
            }
            &.active{
                background: $second-brand-color-opacity;
                border-left: 3px solid $white-color;    
            }
            a{
                padding: 12px 5px 12px 15px;
                display: block;
                text-decoration: none;
                color: $white-color;
                font-family: $main-font;
            }
            span{
                font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
                font-size: 14px;
                line-height: 1.42857143;
                margin-left: 10px;
            }
            .pull-right{
                float: right;
            }
        }
        .treeview-menu{
            display: none;
            list-style: none;
            margin: 0;
            padding: 0;
            -webkit-transition: width 0.3s ease-in-out;
            transition: width 0.3s ease-in-out;
        }
    }
}