
// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

body {
    background: url('http://lesdauphins.fr/wp-content/uploads/2017/10/banner_ambulances.jpg'); 
}

.form {
    top: 25%;
    left: 25%;
    right: 25%;
    position: fixed;
    background: #FFF;
    max-width: 300px;
    margin: 0 auto 100px;
    padding: 30px;
    border-radius: 5px; 
    text-align: center;
    .thumbnail {
        margin: 0 auto 30px;
        img {
            display: block;
            width: 100%;
          }
      }
    input {
        outline: 0;
        background: #FFFFFF;
        width: 220px;
        border: 1px solid #00376F;
        margin: 0 0 15px;
        padding: 15px;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
        box-sizing: border-box;
        font-size: 14px;
    }
    button {
        outline: 0;
        background: #00376F;
        width: 220px;
        border: 0;
        padding: 15px;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
        color: #FFFFFF;
        font-size: 14px;
        transition: all 0.3 ease;
        cursor: pointer;
      }
    .message {
        margin: 15px 0 0;
        color: #b3b3b3;
        font-size: 12px;
        a {
            color: #EF3B3A;
            text-decoration: none;
          }
    }
    .register-form {
        display: none;
      }
    .btn-link p{
        color: #00376F;
    }
    .email-input{
    margin-bottom: 25px;
    font-weight: 800;
    }
}





