/* BRAND COLORS */

$main-brand-color: #00529F;
$text-title-color: #00376f;


/* SHADOWS */

$main-shadow: rgba(0, 0, 0, 0.15);
$second-shadow: rgba(0, 0, 0, 0.2);

/* FONT COLORS */

$error: #C00400;
$dark-yellow: #CA8716;
$yellow:     #E2C705;
$white-color: #ffffff;
$black-color: #000000;
$grey-color: #b9b9b9;
$sucess: #03BBAA;
$green:#18880F;
$blue: #0344A8;

//login background
$background-login: url("https://comup-dev.pt/lescopainsdhugo/public/images/brand/backgroundLogin.jpg");


$dashboard-blue: #00529F;
//background

$white-background: #F2F2F2;