@import '_variables_front.scss';

.main-footer{
    background: #F2F2F2;
    width: 100%;
    .contacts-logo{
        text-align: center;
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .contacts{
        text-align: center;
        margin-top: 100px;
        margin-bottom: 50px;
    }
    .contacts-form{
        margin-top: 50px;
        margin-bottom: 50px;
        text-align: center;
    }
    .subscribe-form{
        text-align: left;
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .copyright{
        width: 100%;
        height: 50px;
        font-size: 12px;
        text-align: center;
        background: #E6E6E6;
        color: #282828;
        font-weight: 600;
        .copyright-label{
            margin-top: 10px;
        }
    }
    .footer-logo{
        margin-top: 50px;
        margin-bottom: 50px;
        img{
            height: 150px;
        }
    }

    .partners{
        background:white;
        .h3, h3{
            margin-bottom: 50px !important;
            margin-top: 50px !important; 
            font-size: 2.5rem !important;
            text-transform: uppercase !important; 
            color: #9da7b1 !important; 
        }
    }
    
    .checkbox-adhesion{
        margin-left: -15px; 
    }
}