@import '_variables_front.scss';

.form{
    margin-top: 100px;
    margin-bottom: 100px;
    form{
        input{
            &:focus{
            color: $dashboard-blue;
            font-weight: 700;
            }
    }
    }
    .form-submit{
        float: right;
        background-color: $main-brand-color !important;
        border: none !important;
        color: white !important;
        border-radius: 0 !important;
    }

    .form-check{
        margin-top: 30px;
        margin-bottom: 30px;
    }
}

.alert-success{
    width: 100%;
    text-align:center;
    margin-top:50px;
    margin-bottom:50px;
}