@import '_variables_front.scss';

.first-row{
    margin-top: 170px;
}

.main-header{
    vertical-align: middle;
    width: 100%;
    height: 750px;
    top: 0;
    z-index: 10;
    background: url("https://comup-dev.pt/lescopainsdhugo/public/frontend/images/background/home.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    .col-md-4{
        text-align: center;
    }
    .logo-container{
        background-color: #1FABE0;
        border-bottom: 5px solid #1B92C0;
        padding: 25px 25px 25px 25px;
        text-align: center; 
        min-width: 100px ; 
        max-width: auto;
    }
    .header-card{
        color: white; 
        background: transparent;
        text-align: left;
        margin-top: 300px;
    }
    .fb-share{
        margin-top: 300px;
        .share{
            color: white;
            background: #1FABE0;
            text-align: center;
            
        }
    }
    
}

@media only screen and (max-width: 768px){
    .main-header{
        position: absolute;
    }
    .desktop-menu{
        position: absolute !important;
    }
}