
@import '_variables_front.scss';

.h3, h3 {
    margin-bottom: 50px !important;
    margin-top: 50px !important; 
    font-size: 2.5rem !important;
    text-transform: uppercase !important; 
}
.objectives{
    background: url("https://comup-dev.pt/lescopainsdhugo/public/frontend/images/background/Yellow_dots.png");

    .objectives-logo{
        margin-top: 50px;
        margin-bottom: 50px; 
        background: white; 
        img{
            height: 250px; 
        }
    }
    .objectives-col1{
        margin-bottom: 200px;  
        background: white; 
        color: #9da7b1;
        span{
            margin-bottom:50px; 
        }
    }
    .objectives-col2{
        margin-bottom: 200px;
        background: white; 
        color: #9da7b1; 
        span{
            margin-bottom:50px; 
        }
    }
}

.background1{
    background: url("https://comup-dev.pt/lescopainsdhugo/public/frontend/images/background/background1.jpg");
    height:1000px; 
}

.president{
    background: #1FABE0; 
    color: white; 
    .president_title{
        margin-top: 50px; 
    }
    .president_col1{
        margin-top: 50px; 
        margin-bottom: 50px;
    }
    .president_col2{
        margin-top: 50px;
        margin-bottom: 50px; 
    }
}


.background2{
    background: url("https://comup-dev.pt/lescopainsdhugo/public/frontend/images/background/background2.jpg");
    height:1000px; 
}

.events{
    .travel_col{
        color: #555;
    }
    .events_col{
        color: #555;
    }
}

.background3{
    background: url("https://comup-dev.pt/lescopainsdhugo/public/frontend/images/background/background3.jpg");
    height:1000px; 
}

.reviews{
    .h3, h3{
        color: #9da7b1 !important;
    }
}

.card-wrapper{
    margin-bottom: 50px; 
}

.card-img-top{
    min-width: 250px;
    min-height: 180px;
    max-width: 285px;
    max-height: 190px;  
}

// REVIEWS

figure.snip1192 {
    font-family: 'Raleway', Arial, sans-serif;
    position: relative;
    float: left;
    overflow: hidden;
    margin: 10px 1%;
    min-width: 220px;
    max-width: 310px;
    width: 100%;
    color: #333;
    text-align: left;
    box-shadow: none !important;
    margin-bottom: 50px; 
    * {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }
    img {
        max-width: 100%;
        height: 100px;
        width: 100px;
        border-radius: 50%;
        margin-bottom: 15px;
        display: inline-block;
        z-index: 1;
        position: relative;
    }
    blockquote {
        margin: 0;
        display: block;
        border-radius: 8px;
        position: relative;
        background-color: #fafafa;
        padding: 30px 50px 65px 50px;
        font-size: 0.8em;
        font-weight: 500;
        margin: 0 0 -50px;
        line-height: 1.6em;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
        blockquote:before, blockquote:after{
            font-family: 'FontAwesome';
            content: "\201C";
            position: absolute;
            font-size: 50px;
            opacity: 0.3;
            font-style: normal;
        }
        blockquote:before{
            top: 35px;
            left: 20px;
        }
        blockquote:after {
            content: "\201D";
            right: 20px;
            bottom: 35px;
        }
    }
    .author {
        margin: 0;
        text-transform: uppercase;
        text-align: center;
        color: black;
        img{
            height: 100px;
            width: 100px;
            display: inline-block;
        }
        h5 {
            opacity: 0.8;
            margin: 0;
            font-weight: 800;
            span {
                font-weight: 400;
                text-transform: none;
                display: block;
            }
        }
    }
}