@import '_variables_front.scss';

.navbarTop{
    background: #EA7A8A;
    top: -150px; 
    
    .brand-logo{
        img{
            width: 100px; 
        }
    }
    .menu-options{
        ul{
            display: flex;
            li{
                list-style: none;
                margin: 20px;
                a{
                    color: white; 
                }
            }
        }
    }
}